@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(200, 14, 97%);
    --foreground: rgb(160, 12, 33%);

    --muted: rgb(200, 14, 97%);
    --muted-foreground: rgb(160, 12, 33%);

    --popover: rgb(200, 14, 97%);
    --popover-foreground: rgb(160, 12, 33%);

    --border: rgb(200, 14, 97%);
    --input: rgb(200, 14, 97%);

    --card: rgb(200, 14, 97%);
    --card-foreground: rgb(160, 12, 33%);

    --primary: rgb(160, 12, 33%);
    --primary-foreground: rgb(50, 90, 52%);

    --secondary: rgb(200, 14, 97%);
    --secondary-foreground: rgb(160, 12, 33%);

    --accent: rgb(200, 14, 97%);
    --accent-foreground: rgb(160, 12, 33%);

    --destructive: rgb(50, 90, 52%);
    --destructive-foreground: rgb(200, 14, 97%);

    --ring: rgb(220, 4, 28%);

    --radius: 0.5rem;
  }

  .dark {
    --background: rgb(0, 0, 0); /* Pure black background */
    --foreground: rgb(200, 14, 97%); /* Light foreground color for contrast */

    --muted: rgb(0, 0, 0);
    --muted-foreground: rgb(50, 90, 52%);

    --accent: rgb(0, 0, 0);
    --accent-foreground: rgb(200, 14, 97%);

    --popover: rgb(0, 0, 0);
    --popover-foreground: rgb(50, 90, 52%);

    --border: rgb(0, 0, 0);
    --input: rgb(0, 0, 0);

    --card: rgb(0, 0, 0);
    --card-foreground: rgb(200, 14, 97%);

    --primary: rgb(200, 14, 97%);
    --primary-foreground: rgb(50, 90, 52%);

    --secondary: rgb(0, 0, 0);
    --secondary-foreground: rgb(200, 14, 97%);

    --destructive: rgb(50, 90, 52%);
    --destructive-foreground: rgb(200, 14, 97%);

    --ring: rgb(0, 0, 0);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer components {
  .container {
    width: 100%;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-color: rgb(25, 26, 26);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
  }

  .container-white {
    width: 100%;
    height: 100%;
    --color: rgb(225, 225, 225);
    background-color: rgb(243, 243, 243);
    background-image: linear-gradient(
        0deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        90deg,
        transparent 24%,
        var(--color) 25%,
        var(--color) 26%,
        transparent 27%,
        transparent 74%,
        var(--color) 75%,
        var(--color) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
  }
}
